In [1]:
import time
start_time=time.time()
from pathlib import Path
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import math
import json

In [2]:
datapath_names = Path(open("path-name-list.txt", "r").read()).expanduser()

In [3]:
samples=pd.read_csv(str(datapath_names) +'//sample-names_H.csv',header=None)
samples

               0
0     TAU-N604-H
1     TAU-N595-H
2       TAU-HV-H
3       TAU-HX-H
4  KPech-Orion-H
5     MUSE-Dor-H
6    MUSE-N346-H
7    Hanel-EON-H
8       FLA-M8-H
9      FLA-Car-H

In [4]:
Names=pd.read_csv(str(datapath_names) +'//formal-names_H.csv',header=None)
Names

          0
0   NGC 604
1   NGC 595
2  Hubble V
3  Hubble X
4     Orion
5    30 Dor
6   NGC 346
7       EON
8        M8
9    Carina

Load results

In [5]:
datapath_res = Path(open("path-results2.txt", "r").read()).expanduser()

In [6]:
datapath_res

WindowsPath('C:/Users/ZAINTEL2/Documents/Aeon/GitHub/PhD.Paper/result-files_new_s0')

In [7]:
data = {}
Results = {}

for i in range(len(samples)):
    data[samples[0][i]] = json.load(open(str(datapath_res) + '/' + samples[0][i] + ".json"))

In [8]:
for i in range(len(samples)):
    print(str(samples[0][i]) + ':',
          ' r0 = ' + str(np.round(data[samples[0][i]]['results_2sig']['r0'][0],4)) + ' pc,',
          ' s0 = ' + str(np.round(data[samples[0][i]]['results_2sig']['s0'][0],4)) + ' pc,',
    ' m = ' + str(np.round(data[samples[0][i]]['results_2sig']['m'][0],4)) + ',',
    ' sig2 = ' + str(np.round(data[samples[0][i]]['results_2sig']['sig2'][0],4)) + ' (km/s)^2,',
    ' noise = ' + str(np.round(data[samples[0][i]]['results_2sig']['noise'][0],4)) + ' (km/s)^2')

TAU-N604-H:  r0 = 12.0876 pc,  s0 = 1.6214 pc,  m = 0.7751,  sig2 = 84.2214 (km/s)^2,  noise = 0.3275 (km/s)^2
TAU-N595-H:  r0 = 11.1531 pc,  s0 = 0.4072 pc,  m = 1.3606,  sig2 = 53.6367 (km/s)^2,  noise = 1.7945 (km/s)^2
TAU-HV-H:  r0 = 3.562 pc,  s0 = 0.2624 pc,  m = 0.8104,  sig2 = 9.7489 (km/s)^2,  noise = 0.0 (km/s)^2
TAU-HX-H:  r0 = 4.0994 pc,  s0 = 0.2788 pc,  m = 1.0161,  sig2 = 14.7118 (km/s)^2,  noise = 0.3212 (km/s)^2
KPech-Orion-H:  r0 = 0.068 pc,  s0 = 0.0016 pc,  m = 1.0734,  sig2 = 12.6284 (km/s)^2,  noise = 0.0252 (km/s)^2
MUSE-Dor-H:  r0 = 3.8578 pc,  s0 = 0.1213 pc,  m = 0.852,  sig2 = 296.8446 (km/s)^2,  noise = 6.1555 (km/s)^2
MUSE-N346-H:  r0 = 2.3737 pc,  s0 = 0.0858 pc,  m = 0.9564,  sig2 = 32.9306 (km/s)^2,  noise = 0.8402 (km/s)^2
Hanel-EON-H:  r0 = 0.4883 pc,  s0 = 0 pc,  m = 1,  sig2 = 4.7769 (km/s)^2,  noise = 4.3924 (km/s)^2
FLA-M8-H:  r0 = 1.0346 pc,  s0 = 0.0054 pc,  m = 1.264,  sig2 = 7.3827 (km/s)^2,  noise = 0.4367 (km/s)^2
FLA-Car-H:  r0 = 0.5505 pc,  s0 = 0.0058 pc,  m = 1.1584,  sig2 = 18.1267 (km/s)^2,  noise = 2.258 (km/s)^2

Results and confidence intervals

Create the columns for the values

In [9]:
#sigma
sig = [[0]*(1) for i in range(len(samples))]
siger = [[0]*(1) for i in range(len(samples))]

#velocity dispersion with 2-sig intervals
sig2 = [[0]*(1) for i in range(len(samples))]
#sig2er = [[0]*(1) for i in range(len(samples))]
sig2s2 = [[0]*(1) for i in range(len(samples))]
sig2s2p = [[0]*(1) for i in range(len(samples))]
sig2s2m = [[0]*(1) for i in range(len(samples))]

#correlation length with 2-sig intervals
r0 = [[0]*(1) for i in range(len(samples))]
#r0er = [[0]*(1) for i in range(len(samples))]
r0s2 = [[0]*(1) for i in range(len(samples))]
r0s2p = [[0]*(1) for i in range(len(samples))]
r0s2m = [[0]*(1) for i in range(len(samples))]

#power-law
m = [[0]*(1) for i in range(len(samples))]
#mer = [[0]*(1) for i in range(len(samples))]
ms2 = [[0]*(1) for i in range(len(samples))]
ms2p = [[0]*(1) for i in range(len(samples))]
ms2m = [[0]*(1) for i in range(len(samples))]

#noise with 2-sig intervals
bn = [[0]*(1) for i in range(len(samples))]
#ner = [[0]*(1) for i in range(len(samples))]
bns2 = [[0]*(1) for i in range(len(samples))]
bns2p = [[0]*(1) for i in range(len(samples))]
bns2m = [[0]*(1) for i in range(len(samples))]

#seeing with 2-sig intervals
s0 = [[0]*(1) for i in range(len(samples))]
#s0er = [[0]*(1) for i in range(len(samples))]
s0s2 = [[0]*(1) for i in range(len(samples))]
s0s2p = [[0]*(1) for i in range(len(samples))]
s0s2m = [[0]*(1) for i in range(len(samples))]

pc = [[0]*(1) for i in range(len(samples))]
box_size = [[0]*(1) for i in range(len(samples))]

Results to empty columns

In [10]:
for i in range(len(samples)):    
    
    sig2[i] = data[samples[0][i]]['results_2sig']['sig2'][0]
    sig2s2p[i] = data[samples[0][i]]['results_2sig']['sig2'][1]
    sig2s2m[i] = data[samples[0][i]]['results_2sig']['sig2'][2]
    
    r0[i]    = data[samples[0][i]]['results_2sig']['r0'][0]
    r0s2p[i] = data[samples[0][i]]['results_2sig']['r0'][1]
    r0s2m[i] = data[samples[0][i]]['results_2sig']['r0'][2]
    
    m[i]    = data[samples[0][i]]['results_2sig']['m'][0]
    ms2p[i] = data[samples[0][i]]['results_2sig']['m'][1]
    ms2m[i] = data[samples[0][i]]['results_2sig']['m'][2]
    
    bn[i]    = data[samples[0][i]]['results_2sig']['noise'][0]
    bns2p[i] = data[samples[0][i]]['results_2sig']['noise'][1]
    bns2m[i] = data[samples[0][i]]['results_2sig']['noise'][2]
    
    s0[i]    = data[samples[0][i]]['results_2sig']['s0'][0]
    s0s2p[i] = data[samples[0][i]]['results_2sig']['s0'][1]
    s0s2m[i] = data[samples[0][i]]['results_2sig']['s0'][2]
    
    box_size[i] = data[samples[0][i]]['properties']['box_size']
    pc[i] = data[samples[0][i]]['properties']['pc']

Crate table

In [11]:
td = pd.DataFrame(
    {
       "A": sig2,
       "B": m,
       "C": r0,
       "E": bn,
       "F": s0,
        "G":  box_size,
        "H": np.array(box_size)/np.array(r0),
        "I": np.array(s0)/np.array(r0),
    },
)

In [12]:
#td=td.sort_values( by='A', ascending=False)

In [13]:
SFres=td[['A','E','F','C','B','G','H','I']].copy()
SFres.rename(columns={'A':'$\sigma^2$ [km$^2$/s$^2$]',
                      'E':'$B_{noise}$ [km$^2$/s$^2$]',
                      'B':'$m$',
                      'C':'$r_0$ [pc]',
                      'F':'$s0$ (rms) [pc]',
                      'G':'L$_{box}$ [pc]',
                      'H':'L$_{box} / r_0$',
                      'I':'s0/$r_0$  ',},
                      inplace=True)

             
SFres.insert(loc=0, column='Region', value=Names)
SFres.round(4)

,Region,$\sigma^2$ [km$^2$/s$^2$],$B_{noise}$ [km$^2$/s$^2$],$s0$ (rms) [pc],$r_0$ [pc],$m$,L$_{box}$ [pc],L$_{box} / r_0$,s0/$r_0$
0,NGC 604,84.2214,0.3275,1.6214,12.0876,0.7751,173.4419,14.3487,0.1341
1,NGC 595,53.6367,1.7945,0.4072,11.1531,1.3606,196.2758,17.5984,0.0365
2,Hubble V,9.7489,0.0000,0.2624,3.5620,0.8104,61.2194,17.1869,0.0737
3,Hubble X,14.7118,0.3212,0.2788,4.0994,1.0161,78.0350,19.0358,0.0680
4,Orion,12.6284,0.0252,0.0016,0.0680,1.0734,0.4541,6.6812,0.0230
5,30 Dor,296.8446,6.1555,0.1213,3.8578,0.8520,31.5129,8.1686,0.0314
6,NGC 346,32.9306,0.8402,0.0858,2.3737,0.9564,20.1903,8.5059,0.0361
7,EON,4.7769,4.3924,0.0000,0.4883,1.0000,3.0917,6.3314,0.0000
8,M8,7.3827,0.4367,0.0054,1.0346,1.2640,16.0964,15.5574,0.0052
9,Carina,18.1267,2.2580,0.0058,0.5505,1.1584,19.6636,35.7216,0.0105

Crate table with confidence intervals

In [14]:
s0f = pd.DataFrame(
    {
        "s0 [RMS]":s0,
        "s0+[RMS]": s0s2p,
        "s0-[RMS]": s0s2m,  
       "s0 [FWHM]": np.array(s0)*2.35/np.array(pc),
        "s0+ [FWHM]": np.array(s0s2p)*2.35/np.array(pc),
       "s0- [FWHM]": np.array(s0s2m)*2.35/np.array(pc),
        "bn ":bn,
        "bn+": bns2p,
        "bn- ": bns2m,     
    }
)

s0f.insert(loc=0, column='Region', value=Names)


s0f.round(4)

,Region,s0 [RMS],s0+[RMS],s0-[RMS],s0 [FWHM],s0+ [FWHM],s0- [FWHM],bn,bn+,bn-
0,NGC 604,1.6214,0.9761,0.5962,0.9356,0.5633,0.3440,0.3275,0.6929,0.3072
1,NGC 595,0.4072,0.4546,-0.0036,0.2350,0.2623,-0.0021,1.7945,1.5873,1.1112
2,Hubble V,0.2624,0.4120,0.0087,0.2544,0.3994,0.0084,0.0000,0.6545,-0.0105
3,Hubble X,0.2788,0.2683,0.0314,0.2703,0.2601,0.0304,0.3212,0.4275,0.2373
4,Orion,0.0016,0.0002,0.0002,1.8458,0.2359,0.1903,0.0252,0.0049,0.0050
5,30 Dor,0.1213,0.0665,0.0345,1.1760,0.6450,0.3340,6.1555,1.5745,1.5605
6,NGC 346,0.0858,0.0203,0.0141,0.6706,0.1587,0.1102,0.8402,0.0699,0.0694
7,EON,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4.3924,0.8449,0.7219
8,M8,0.0054,0.0035,0.0045,2.0801,1.3616,1.7639,0.4367,0.2144,0.2943
9,Carina,0.0058,0.0093,0.0044,1.3145,2.1250,0.9954,2.2580,2.4804,1.9536

In [15]:
s1f = pd.DataFrame(
    {
        "sig2":sig2,
        "sig2+": sig2s2p,
        "sig2-": sig2s2m,
        "r0":r0,
        "r0+": r0s2p,
        "r0-": r0s2m,
        "m":m,
        "m+": ms2p,
        "m-": ms2m,
       
    }
)

s1f.insert(loc=0, column='Region', value=Names)


s1f.round(4)

,Region,sig2,sig2+,sig2-,r0,r0+,r0-,m,m+,m-
0,NGC 604,84.2214,21.8752,10.3894,12.0876,6.6913,4.6437,0.7751,0.2026,0.2493
1,NGC 595,53.6367,4.4367,1.9465,11.1531,0.7407,0.8763,1.3606,0.0873,0.1528
2,Hubble V,9.7489,2.8360,0.3667,3.5620,0.4321,1.2762,0.8104,0.0703,0.2848
3,Hubble X,14.7118,2.6265,0.4209,4.0994,0.3145,0.1890,1.0161,0.0554,0.2363
4,Orion,12.6284,0.7340,0.5229,0.0680,0.0061,0.0041,1.0734,0.0311,0.0385
5,30 Dor,296.8446,39.1649,18.5287,3.8578,1.0652,0.4657,0.8520,0.0773,0.1380
6,NGC 346,32.9306,2.5519,1.4875,2.3737,0.2946,0.1600,0.9564,0.0484,0.0704
7,EON,4.7769,0.5839,0.3734,0.4883,0.2280,0.0975,1.0000,0.0000,0.0000
8,M8,7.3827,1.2391,0.7283,1.0346,0.2369,0.1219,1.2640,0.1744,0.1928
9,Carina,18.1267,1.4602,1.4921,0.5505,0.0817,0.0682,1.1584,0.2776,0.1795

In [16]:
turbulence_param = s1f.drop([1,6,7,8,10,12,13,15,16,17,19,20,22,23])
turbulence_param.sort_values(by=['sig2'], ascending=False)

KeyError: '[10 12 13 15 16 17 19 20 22 23] not found in axis'

In [ ]:
nuisance_param = s0f.drop([1,6,7,8,10,12,13,15,16,17,19,20,22,23])

In [ ]:
nuisance_param.reindex(index=(9,0,2,11,21,4,5,3,18,14))

In [ ]:
marker_sample = ['o','o','o','o','o','^','^','^','^','s','s','s','s','s','^','^','^','^','^','^','^','^']

In [ ]:
fig, ax = plt.subplots(figsize=(7, 7))

errorsig2 = [s1f['sig2-'],s1f['sig2+']]
errorr0 = [s1f['r0-'],s1f['r0+']]

#ax.errorbar(s1f.sig2,s1f.r0, xerr = errorsig2, yerr = errorr0,  marker='o', linestyle=' ', markersize='7')

for xp, yp, m in zip(s1f.sig2, s1f.r0, marker_sample):
    plt.scatter(xp, yp, marker=m, s=150, color = 'blue')

ax.set(
    xscale="log",
    yscale="log",
    ylabel="r0 [pc]",
    xlabel=r"sig2 [km$^{2}$/s$^{2}$]",
)

In [ ]:
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
!jupyter nbconvert --to script --no-prompt results-compiler.ipynb