In [1]:
import time
start_time=time.time()
from pathlib import Path
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import math
import json

In [2]:
datapath_names = Path(open("path-name-list.txt", "r").read()).expanduser()

In [3]:
samples=pd.read_csv(str(datapath_names) +'//sample-names_H.csv',header=None)
samples

               0
0     TAU-N604-H
1     TAU-N595-H
2       TAU-HV-H
3       TAU-HX-H
4  KPech-Orion-H
5     MUSE-Dor-H
6    MUSE-N346-H
7    Hanel-EON-H
8       FLA-M8-H
9      FLA-Car-H

In [4]:
Names=pd.read_csv(str(datapath_names) +'//formal-names_H.csv',header=None)
Names

          0
0   NGC 604
1   NGC 595
2  Hubble V
3  Hubble X
4     Orion
5    30 Dor
6   NGC 346
7       EON
8        M8
9    Carina

Load results

In [5]:
datapath_res = Path(open("path-results.txt", "r").read()).expanduser()

In [6]:
datapath_res

WindowsPath('C:/Users/ZAINTEL2/Documents/Aeon/GitHub/PhD.Paper/result-files')

In [7]:
data = {}
Results = {}

for i in range(len(samples)):
    data[samples[0][i]] = json.load(open(str(datapath_res) + '/' + samples[0][i] + ".json"))

In [8]:
for i in range(len(samples)):
    print(str(samples[0][i]) + ':',
          ' r0 = ' + str(np.round(data[samples[0][i]]['results_2sig']['r0'][0],4)) + ' pc,',
          ' s0 = ' + str(np.round(data[samples[0][i]]['results_2sig']['s0'][0],4)) + ' pc,',
    ' m = ' + str(np.round(data[samples[0][i]]['results_2sig']['m'][0],4)) + ',',
    ' sig2 = ' + str(np.round(data[samples[0][i]]['results_2sig']['sig2'][0],4)) + ' (km/s)^2,',
    ' noise = ' + str(np.round(data[samples[0][i]]['results_2sig']['noise'][0],4)) + ' (km/s)^2')

TAU-N604-H:  r0 = 12.0876 pc,  s0 = 2.1078 pc,  m = 0.7751,  sig2 = 85.8687 (km/s)^2,  noise = 0.3275 (km/s)^2
TAU-N595-H:  r0 = 11.2117 pc,  s0 = 0.4072 pc,  m = 1.3764,  sig2 = 53.2064 (km/s)^2,  noise = 1.5372 (km/s)^2
TAU-HV-H:  r0 = 3.562 pc,  s0 = 0.3412 pc,  m = 0.8104,  sig2 = 9.824 (km/s)^2,  noise = 0.0 (km/s)^2
TAU-HX-H:  r0 = 4.0994 pc,  s0 = 0.3624 pc,  m = 1.0161,  sig2 = 14.8123 (km/s)^2,  noise = 0.3211 (km/s)^2
KPech-Orion-H:  r0 = 0.068 pc,  s0 = 0.002 pc,  m = 1.0734,  sig2 = 12.648 (km/s)^2,  noise = 0.0252 (km/s)^2
MUSE-Dor-H:  r0 = 3.8579 pc,  s0 = 0.1577 pc,  m = 0.852,  sig2 = 297.5367 (km/s)^2,  noise = 6.1556 (km/s)^2
MUSE-N346-H:  r0 = 2.3737 pc,  s0 = 0.1115 pc,  m = 0.9564,  sig2 = 33.0228 (km/s)^2,  noise = 0.8402 (km/s)^2
Hanel-EON-H:  r0 = 0.4883 pc,  s0 = 0 pc,  m = 1,  sig2 = 4.7769 (km/s)^2,  noise = 4.3924 (km/s)^2
FLA-M8-H:  r0 = 1.0347 pc,  s0 = 0.007 pc,  m = 1.2639,  sig2 = 7.3852 (km/s)^2,  noise = 0.4367 (km/s)^2
FLA-Car-H:  r0 = 0.5505 pc,  s0 = 0.0075 pc,  m = 1.1584,  sig2 = 18.1376 (km/s)^2,  noise = 2.2569 (km/s)^2

Results and confidence intervals

Create the columns for the values

In [9]:
#sigma
sig = [[0]*(1) for i in range(len(samples))]
siger = [[0]*(1) for i in range(len(samples))]

#velocity dispersion with 2-sig intervals
sig2 = [[0]*(1) for i in range(len(samples))]
#sig2er = [[0]*(1) for i in range(len(samples))]
sig2s2 = [[0]*(1) for i in range(len(samples))]
sig2s2p = [[0]*(1) for i in range(len(samples))]
sig2s2m = [[0]*(1) for i in range(len(samples))]

#correlation length with 2-sig intervals
r0 = [[0]*(1) for i in range(len(samples))]
#r0er = [[0]*(1) for i in range(len(samples))]
r0s2 = [[0]*(1) for i in range(len(samples))]
r0s2p = [[0]*(1) for i in range(len(samples))]
r0s2m = [[0]*(1) for i in range(len(samples))]

#power-law
m = [[0]*(1) for i in range(len(samples))]
#mer = [[0]*(1) for i in range(len(samples))]
ms2 = [[0]*(1) for i in range(len(samples))]
ms2p = [[0]*(1) for i in range(len(samples))]
ms2m = [[0]*(1) for i in range(len(samples))]

#noise with 2-sig intervals
bn = [[0]*(1) for i in range(len(samples))]
#ner = [[0]*(1) for i in range(len(samples))]
bns2 = [[0]*(1) for i in range(len(samples))]
bns2p = [[0]*(1) for i in range(len(samples))]
bns2m = [[0]*(1) for i in range(len(samples))]

#seeing with 2-sig intervals
s0 = [[0]*(1) for i in range(len(samples))]
#s0er = [[0]*(1) for i in range(len(samples))]
s0s2 = [[0]*(1) for i in range(len(samples))]
s0s2p = [[0]*(1) for i in range(len(samples))]
s0s2m = [[0]*(1) for i in range(len(samples))]

pc = [[0]*(1) for i in range(len(samples))]
box_size = [[0]*(1) for i in range(len(samples))]

Results to empty columns

In [10]:
for i in range(len(samples)):    
    
    sig2[i] = data[samples[0][i]]['results_2sig']['sig2'][0]
    sig2s2p[i] = data[samples[0][i]]['results_2sig']['sig2'][1]
    sig2s2m[i] = data[samples[0][i]]['results_2sig']['sig2'][2]
    
    r0[i]    = data[samples[0][i]]['results_2sig']['r0'][0]
    r0s2p[i] = data[samples[0][i]]['results_2sig']['r0'][1]
    r0s2m[i] = data[samples[0][i]]['results_2sig']['r0'][2]
    
    m[i]    = data[samples[0][i]]['results_2sig']['m'][0]
    ms2p[i] = data[samples[0][i]]['results_2sig']['m'][1]
    ms2m[i] = data[samples[0][i]]['results_2sig']['m'][2]
    
    bn[i]    = data[samples[0][i]]['results_2sig']['noise'][0]
    bns2p[i] = data[samples[0][i]]['results_2sig']['noise'][1]
    bns2m[i] = data[samples[0][i]]['results_2sig']['noise'][2]
    
    s0[i]    = data[samples[0][i]]['results_2sig']['s0'][0]
    s0s2p[i] = data[samples[0][i]]['results_2sig']['s0'][1]
    s0s2m[i] = data[samples[0][i]]['results_2sig']['s0'][2]
    
    box_size[i] = data[samples[0][i]]['properties']['box_size']
    pc[i] = data[samples[0][i]]['properties']['pc']

Crate table

In [11]:
td = pd.DataFrame(
    {
       "A": sig2,
       "B": m,
       "C": r0,
       "E": bn,
       "F": s0,
        "G":  box_size,
        "H": np.array(box_size)/np.array(r0),
        "I": np.array(s0)/np.array(r0),
    },
)

In [12]:
#td=td.sort_values( by='A', ascending=False)

In [13]:
SFres=td[['A','E','F','C','B','G','H','I']].copy()
SFres.rename(columns={'A':'$\sigma^2$ [km$^2$/s$^2$]',
                      'E':'$B_{noise}$ [km$^2$/s$^2$]',
                      'B':'$m$',
                      'C':'$r_0$ [pc]',
                      'F':'$s0$ (rms) [pc]',
                      'G':'L$_{box}$ [pc]',
                      'H':'L$_{box} / r_0$',
                      'I':'s0/$r_0$  ',},
                      inplace=True)

             
SFres.insert(loc=0, column='Region', value=Names)
SFres.round(4)

,Region,$\sigma^2$ [km$^2$/s$^2$],$B_{noise}$ [km$^2$/s$^2$],$s0$ (rms) [pc],$r_0$ [pc],$m$,L$_{box}$ [pc],L$_{box} / r_0$,s0/$r_0$
0,NGC 604,85.8687,0.3275,2.1078,12.0876,0.7751,173.4419,14.3487,0.1744
1,NGC 595,53.2064,1.5372,0.4072,11.2117,1.3764,196.2758,17.5064,0.0363
2,Hubble V,9.8240,0.0000,0.3412,3.5620,0.8104,61.2194,17.1870,0.0958
3,Hubble X,14.8123,0.3211,0.3624,4.0994,1.0161,78.0350,19.0356,0.0884
4,Orion,12.6480,0.0252,0.0020,0.0680,1.0734,0.4541,6.6812,0.0299
5,30 Dor,297.5367,6.1556,0.1577,3.8579,0.8520,31.5129,8.1685,0.0409
6,NGC 346,33.0228,0.8402,0.1115,2.3737,0.9564,20.1903,8.5059,0.0470
7,EON,4.7769,4.3924,0.0000,0.4883,1.0000,3.0917,6.3314,0.0000
8,M8,7.3852,0.4367,0.0070,1.0347,1.2639,16.0964,15.5564,0.0067
9,Carina,18.1376,2.2569,0.0075,0.5505,1.1584,19.6636,35.7223,0.0136

Crate table with confidence intervals

In [14]:
s0f = pd.DataFrame(
    {
        "s0 [RMS]":s0,
        "s0+[RMS]": s0s2p,
        "s0-[RMS]": s0s2m,  
       "s0 [FWHM]": np.array(s0)*2.35/np.array(pc),
        "s0+ [FWHM]": np.array(s0s2p)*2.35/np.array(pc),
       "s0- [FWHM]": np.array(s0s2m)*2.35/np.array(pc),
        "bn ":bn,
        "bn+": bns2p,
        "bn- ": bns2m,     
    }
)

s0f.insert(loc=0, column='Region', value=Names)


s0f.round(4)

,Region,s0 [RMS],s0+[RMS],s0-[RMS],s0 [FWHM],s0+ [FWHM],s0- [FWHM],bn,bn+,bn-
0,NGC 604,2.1078,1.0353,0.7852,1.2163,0.5974,0.4531,0.3275,0.7014,0.3071
1,NGC 595,0.4072,0.6191,-0.0056,0.2350,0.3573,-0.0032,1.5372,1.7052,1.0506
2,Hubble V,0.3412,0.5341,0.0602,0.3307,0.5177,0.0584,0.0000,0.6539,-0.0098
3,Hubble X,0.3624,0.3295,0.1063,0.3513,0.3194,0.1030,0.3211,0.4153,0.2794
4,Orion,0.0020,0.0003,0.0002,2.3995,0.3104,0.2473,0.0252,0.0049,0.0049
5,30 Dor,0.1577,0.0874,0.0452,1.5288,0.8477,0.4383,6.1556,1.5788,1.5700
6,NGC 346,0.1115,0.0266,0.0182,0.8718,0.2080,0.1422,0.8402,0.0701,0.0694
7,EON,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4.3924,0.8648,0.7248
8,M8,0.0070,0.0019,0.0062,2.7083,0.7335,2.3923,0.4367,0.2088,0.3035
9,Carina,0.0075,0.0076,0.0061,1.7042,1.7389,1.3811,2.2569,2.4231,1.9776

In [15]:
s1f = pd.DataFrame(
    {
        "sig2":sig2,
        "sig2+": sig2s2p,
        "sig2-": sig2s2m,
        "r0":r0,
        "r0+": r0s2p,
        "r0-": r0s2m,
        "m":m,
        "m+": ms2p,
        "m-": ms2m,
       
    }
)

s1f.insert(loc=0, column='Region', value=Names)


s1f.round(4)

,Region,sig2,sig2+,sig2-,r0,r0+,r0-,m,m+,m-
0,NGC 604,85.8687,20.4180,11.4636,12.0876,6.4431,3.9551,0.7751,0.2074,0.2267
1,NGC 595,53.2064,4.6434,1.9165,11.2117,0.7392,0.8512,1.3764,0.0880,0.1493
2,Hubble V,9.8240,3.5344,0.5024,3.5620,0.4514,1.2700,0.8104,0.0933,0.2830
3,Hubble X,14.8123,2.6723,0.6829,4.0994,0.3259,0.1877,1.0161,0.0806,0.2222
4,Orion,12.6480,0.7428,0.5220,0.0680,0.0061,0.0041,1.0734,0.0312,0.0390
5,30 Dor,297.5367,39.6113,18.5188,3.8579,1.0645,0.4682,0.8520,0.0778,0.1389
6,NGC 346,33.0228,2.5681,1.4874,2.3737,0.2938,0.1596,0.9564,0.0478,0.0708
7,EON,4.7769,0.5613,0.3612,0.4883,0.2137,0.0952,1.0000,0.0000,0.0000
8,M8,7.3852,1.2428,0.7439,1.0347,0.2365,0.1228,1.2639,0.1764,0.1929
9,Carina,18.1376,1.3939,1.5275,0.5505,0.0822,0.0659,1.1584,0.2763,0.1749

In [16]:
turbulence_param = s1f.drop([1,6,7,8,10,12,13,15,16,17,19,20,22,23])
turbulence_param.sort_values(by=['sig2'], ascending=False)

KeyError: '[10 12 13 15 16 17 19 20 22 23] not found in axis'

In [ ]:
nuisance_param = s0f.drop([1,6,7,8,10,12,13,15,16,17,19,20,22,23])

In [ ]:
nuisance_param.reindex(index=(9,0,2,11,21,4,5,3,18,14))

In [ ]:
marker_sample = ['o','o','o','o','o','^','^','^','^','s','s','s','s','s','^','^','^','^','^','^','^','^']

In [ ]:
fig, ax = plt.subplots(figsize=(7, 7))

errorsig2 = [s1f['sig2-'],s1f['sig2+']]
errorr0 = [s1f['r0-'],s1f['r0+']]

#ax.errorbar(s1f.sig2,s1f.r0, xerr = errorsig2, yerr = errorr0,  marker='o', linestyle=' ', markersize='7')

for xp, yp, m in zip(s1f.sig2, s1f.r0, marker_sample):
    plt.scatter(xp, yp, marker=m, s=150, color = 'blue')

ax.set(
    xscale="log",
    yscale="log",
    ylabel="r0 [pc]",
    xlabel=r"sig2 [km$^{2}$/s$^{2}$]",
)

In [ ]:
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
!jupyter nbconvert --to script --no-prompt results-compiler.ipynb